<div class="link_typography">
    <% Article.all.each do |article| %>
      <div id="thumbs"><%= link_to image_tag(article.image), article %>
        <div id="title-partner">
          <h1><%= link_to article.title, article %></h1>
          <%== simple_format(article.story).split('</p>').first %>
        </div>
      </div>
    <% end %>
</div>
