.form-group_article {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #AEABA4;
  max-width: 70%;
  margin-left: 15%;
}

.form-group_article #field-story textarea {
  width:500px;
  height: 600px;
}

.form-group_article #field-title input {
  width: 460px;
  margin-left: 5px;
  margin-right: -40px;
}

.form-group_article #field-image input {
  width: 445px;
  margin-left: 5px;;
  margin-right: -43px;
}

#field-title {
  margin-bottom: 10px;
}

#field-story {
  margin-bottom: 10px;
}

#field-image {
  margin-bottom: 10px;
}


.loginwrapper {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #AEABA4;
  max-width: 50%;
  margin-left: 25%;
  font-family: 'Libre Baskerville',Georgia,serif;
}

.loginwrapper h1 {
  margin-bottom: 20px;
}

.loginwrapper input {
  margin-bottom: 20px;
}

.loginfield01 {
  margin-left: -20px;
}

.loginfield02 {
  margin-left: -40px;
}
