
#thumbs img {
  max-width: 750px;
  max-height: 500px;
}

#thumbs a {
  padding-left: 25px;
}

.article-main #hero-image img {
  max-width: 750px;
  max-height: 500px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.article-index-display img {
  max-width: 750px;
  max-height: 500px;
  margin-bottom: 15px;
  padding-left: 10px;
}
