#lumiere {
    position: absolute;
    top:10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    height: 50%;
}
@keyframes Animation{
    0%{
        transform: rotate(xx);
        opacity: 0;
        transform-origin: 0;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        transform-origin: 50% 50%;
        }
}

#lumiere {
    animation: Animation 2.5s 1 0s ease-in-out;
}
